.hamburger {
    @include desktop (590px) {
        display: none;
    }
}

header {
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;
    height: 100vh;
    nav {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 3px solid rgba(128, 126, 126, 0.733);
        .hidden {
            display: none;
            @include desktop (590px) {
                display: flex;
                justify-content: center;
                li {
                    padding-left: 60px;
                    padding: 21px;
                    border-bottom: 5px solid rgba(0, 0, 0, 0);
                }
            }
            @include desktop (800px) {
                display: flex;
                justify-content: center;
                li {
                    margin-left: 60px;
                    padding: 21px;
                    border-bottom: 5px solid rgba(0, 0, 0, 0);
                }
            }
        }
        .hamburger {
            &:hover {
                ul {
                    display: block;
                }
                .close-icon {
                    display: block;
                }
                .hamburger-icon {
                    display: none;
                }
            }
            .close-icon {
                &:active {
                    .hamburger ul {
                        display: none;
                    }
                    .hamburger .close-icon {
                        display: none;
                    }
                    .hamburger .hamburger-icon {
                        display: block;
                    }
                }
            }
            .hamburger-icon {
                display: block;
            }
            .close-icon {
                display: none;
            }
            ul {
                display: none;
                position: absolute;
                left: 0%;
                width: 100%;
                top: 70px;
                text-align: center;
                line-height: 20px;
                background-color: white;
                li {
                    padding: 10px;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }
    }
}

.menu li:hover {
    border-bottom: 5px solid #08A6E4;
}

.logo {
    font-size: 32px;
    color: $color-primary;
    margin: 16px 0;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    height: calc(100vh - 80px);
}

.banner_banner {
    display: block;
    width: 98%;
    height: 70%;
    background-image: url(../images/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include desktop (800px) {
        background-size: contain;
    }
}

.banner_slogan {
    margin: 0 auto;
    text-align: center;
    height: 30%;
    margin-top: 100px;
}

.banner_slogan h1 {
    font-size: 49px;
    line-height: 57px;
    color: black;
}

.banner_slogan p {
    font-size: 16px;
    line-height: 22px;
    color: black;
    margin-top: 20px;
}

.banner_slogan button {
    font-style: 16px;
    line-height: 22px;
    color: white;
    background-color: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border: 0px;
    margin-top: 40px;
    padding: 22px 157px;
    border-radius: 40px;
}